body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

main .container .row {
	margin-bottom: 20px;
	margin-top: 20px;
}

main .container .card {
	margin-bottom: 0px;
	margin-top: 0px;
}

div.clear {
	clear: both;
}

main .container .row.smallCards .col {
	padding-bottom: 20px;
}

main .container .row.smallCards {
	margin-bottom: 0px;
}

main .container .row.smallCards .btn-floating.halfway-fab {
	right: 15px;
	bottom: 15px;
}

main img.mainImage {
	cursor: pointer;
}